<!DOCTYPE html>

<html ng-app="qq" ng-csp>

<head>
    <title>Goyaka Stream Popup</title>
    <script type="text/javascript" src="js/third_party/angular.min.js"></script>
    <script type="text/javascript" src="js/third_party/lodash.js"></script>
</head>

<body>
    <div ng-controller="mainController">
        <div style="width:750px;height:300px">
            <div>{{errMessage}}</div>
            <div ng-show="!waiting">
                <input type="button" ng-click="sortByLike()" value="Top Rated">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage+1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next
                </button>
                <ul>
                    <li ng-repeat="item in data  | startFrom:currentPage*pageSize | limitTo:pageSize  track by $index">
                        <div>
                            <img ng-src="{{item.picture}}" width="40px" height="30px" />{{item.name}}
                            <button ng-click="play($index)">Load</button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/foreground/client.js"></script>
</body>

</html>
